<a href="https://colab.research.google.com/github/AntonioDeFA/etl_pyspark/blob/develop/Dados_IBGE_Query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
!pip install pyspark findspark unidecode

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)
Collecting unidecode
  Downloading Unidecode-1.3.7-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 kB 4.1 MB/s eta 0:00:00
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Installing collected packages: unidecode
Successfully installed unidecode-1.3.7

In [27]:
import unicodedata
import seaborn as sns
import matplotlib.pyplot as plt
from unidecode import unidecode
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.sql.functions import col
from pyspark.sql import SparkSession, Row

In [28]:
remove_accents_udf = udf(lambda name: unidecode(name) if name else name, StringType())

In [16]:
spark = SparkSession.builder \
    .appName("Dados IBGE") \
    .getOrCreate()

input_path_ibge = "/content/cities-brazil-ibge.csv"
data_ibge = spark.read.csv(input_path_ibge,
                           header=True,
                           inferSchema=True,
                           sep=",",
                           encoding="UTF-8")

input_path_covid = "/content/cases-brazil-cities-time_2022.csv"
data_covid = spark.read.csv(input_path_covid,
                            header=True,
                            inferSchema=True,
                            sep=",",
                            encoding="UTF-8")

In [17]:
windowSpec = Window.partitionBy("city").orderBy(col("date").desc())

last_cases_covid_data = data_covid.withColumn("row_num",
                                       row_number().
                                       over(windowSpec)).\
                                       filter(col("row_num") == 1).\
                                       drop("row_num")

In [29]:
remove_accents_data = last_cases_covid_data.withColumn("city", remove_accents_udf("city"))

In [ ]:
remove_accents_data.show()

In [34]:
filter_city_name_data = remove_accents_data.filter(
    upper(col("city")).startswith("CO")
).select("*")

In [35]:
filter_city_name_data.show()

+--------+----------+-----+--------------------+-------+---------+------+--------+----------+---------------------------+-------------------------------+--------------------+
|epi_week|      date|state|                city| ibgeID|newDeaths|deaths|newCases|totalCases|deaths_per_100k_inhabitants|totalCases_per_100k_inhabitants|deaths_by_totalCases|
+--------+----------+-----+--------------------+-------+---------+------+--------+----------+---------------------------+-------------------------------+--------------------+
|     252|2022-12-31|   BA|          Coaraci/BA|2908002|        0|    59|       0|      2798|                    365.823|                       17348.71|               0.021|
|     252|2022-12-31|   AM|            Coari/AM|1301209|        0|   249|       0|     11799|                    287.154|                      13606.956|               0.021|
|     252|2022-12-31|   PI|   Cocal de Telha/PI|2202711|        0|    14|       0|       631|                    285.249|                      12856.561|               0.022|
|     252|2022-12-31|   SC|     Cocal do Sul/SC|4204251|        0|    63|       0|      5765|                     371.55|                      33999.764|               0.011|
|     252|2022-12-31|   PI|  Cocal dos Alves/PI|2202729|        0|     8|       0|       429|                     129.45|                       6941.748|               0.019|
|     252|2022-12-31|   PI|            Cocal/PI|2202703|        0|    51|       0|      1999|                    182.789|                       7164.618|               0.026|
|     252|2022-12-31|   MT|        Cocalinho/MT|5103106|        0|    17|       0|      1925|                    297.411|                      33677.397|               0.009|
|     252|2022-12-31|   GO|Cocalzinho de Goi...|5205513|        0|    47|       0|      6173|                    226.277|                       29719.32|               0.008|
|     252|2022-12-31|   BA|            Cocos/BA|2908101|        0|    25|       0|      2130|                    132.732|                      11308.734|               0.012|
|     252|2022-12-31|   AM|          Codajas/AM|1301308|        0|    27|       0|      3126|                     90.937|                      10528.443|               0.009|
|     252|2022-12-31|   MA|             Codo/MA|2103307|        0|   233|       0|      4833|                    188.866|                       3917.548|               0.048|
|     252|2022-12-31|   MA|      Coelho Neto/MA|2103406|        0|    52|       0|      2287|                    104.409|                       4592.001|               0.023|
|     252|2022-12-31|   MG|          Coimbra/MG|3116704|        0|    13|       0|       982|                    170.358|                      12868.562|               0.013|
|     252|2022-12-31|   AL|    Coite do Noia/AL|2702009|        0|    22|       0|       766|                    207.665|                       7230.508|               0.029|
|     252|2022-12-31|   PI|         Coivaras/PI|2202737|        0|     6|       0|       344|                    148.368|                       8506.429|               0.017|
|     252|2022-12-31|   PA|          Colares/PA|1502608|        0|    23|       0|      1055|                    188.912|                       8665.298|               0.022|
|     252|2022-12-31|   ES|         Colatina/ES|3201506|        0|   414|       0|     52169|                    333.111|                      41975.974|               0.008|
|     252|2022-12-31|   SP|           Colina/SP|3512001|        0|    73|       0|      2605|                    392.452|                      14004.623|               0.028|
|     252|2022-12-31|   GO|   Colinas do Sul/GO|5205521|        0|     6|       0|       913|                    179.695|                      27343.516|               0.007|
|     252|2022-12-31|   TO|Colinas do Tocant...|1705508|        0|   165|       0|     10487|                    454.909|                      28912.906|               0.016|
+--------+----------+-----+--------------------+-------+---------+------+--------+----------+---------------------------+-------------------------------+--------------------+
only showing top 20 rows

In [ ]:
filter_state_name_data = filter_city_name_data.filter(
    (col("state") == "PB")
).select("*")

In [ ]:
filter_state_name_data.show()

In [23]:

filtered_percente_data = filter_city_name_data.filter(
    (((col("deaths")/col("totalCases"))*100)>0)
).select("*")

In [36]:
filtered_data.show()

<bound method DataFrame.show of DataFrame[epi_week: int, date: date, state: string, city: string, ibgeID: int, newDeaths: int, deaths: int, newCases: int, totalCases: int, deaths_per_100k_inhabitants: double, totalCases_per_100k_inhabitants: double, deaths_by_totalCases: double]>